@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --blue: #1865f2;
    font-family: Lato, serif;
}

h1 {
    font-family: 'Source Serif Pro',
    serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 1.2;
}

input, select, textarea {
    color: var(--blue);
    font-family: Lato,
    serif;
    font-weight: 600;

    &:focus {
        color: var(--blue);
    }
}

::placeholder, :-ms-input-placeholder {
    color: var(--blue);
}